include LICENSE README.md documentation.md pyproject.toml
recursive-include tachywooting/libraries *
recursive-include tachywooting/permissions *
recursive-include tachywooting/interface __init__.py
recursive-include tests *.py
exclude tachywooting/interface/wooting_interface*
prune build
prune dist
global-exclude __pycache__ *.py[cod] .DS_Store
