.DS_Store
Release/wootingInterface2.cp312-win_amd64.lib
Release/wootingInterface2.obj
wootingInterface.cp312-win_amd64.pyd
Release/wootingInterface2.cp312-win_amd64.exp
wootingInterface.cp312-win_amd64.pyd
wootingSubLibrary/libwooting_analog_plugin_dev.a
wootingInterface.cp312-win_amd64.pyd
wootingInterface.cpython-313-darwin.so
wootingInterface.o
wootingInterface.cp312-win_amd64.pyd
wootingInterface.cp312-win_amd64.pyd
wootingInterface.c
*.c
*.pyd
*.c
/Release
